.resumeDownload::before,
.resumeDownload::after {
  position: absolute;
  /* color: #FD563C; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  transition: all 0.4s;
  padding: 0.45rem 0 0 0;
  pointer-events: none;
}

.resumeDownload::before {
  content: "Download Resume";
  top: 0;
}
.resumeDownload::after {
  content: "Click Here";
  top: 100%;
}
.resumeDownload:hover::before {
  top: -100%;
}
.resumeDownload:hover::after {
  top: 0%;
}
.inner_circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 15rem;
  height: 15rem;
  transition: transform 0.5s;
}
.resumeDownload:hover .inner_circle{
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 1024px) {
  .resumeDownload::before,
  .resumeDownload::after {
    padding: 0.7rem 0 0 0;
  }
}
