.mouseImage{
    filter: drop-shadow(0 0 5px #f473026d);
    animation: mouseAnime 0.8s ease-out infinite alternate;
}

@keyframes mouseAnime{
    from{
        transform: translateY(-25%);
    }
    to{
        transform: translateY(0%);
    }
}