.resumeDownload::before,
.resumeDownload::after {
    position: absolute;
    /* color: #FD563C; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    transition: all 0.4s;
    padding: 0.4rem 0 0 0;
    pointer-events: none;
}
.resumeDownload::before {
    content: "Download Resume";
    top: 0;
}
.resumeDownload::after {
    content: "Click Here";
  top: 100%;
}
.resumeDownload:hover::before {
  top: -100%;
}
.resumeDownload:hover::after {
  top: 0%;
}
