.nav_items{
    position: relative;
    color: transparent;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
}
.nav_items:nth-child(1)::before{
    content: 'Home';
}
.nav_items:nth-child(2)::before{
    content: 'About';
}
.nav_items:nth-child(3)::before{
    content: 'Skills';
}
.nav_items:nth-child(4)::before{
    content: 'Projects';
}
.nav_items:nth-child(5)::before{
    content: 'Resume';
}
.nav_items:before{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    z-index: 2;
}
.nav_items::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #ff2403;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1;
    transition: all ease-in-out 0.4s;
}
.nav_items:hover::after{
    left: 0;
}